@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  scroll-behavior: smooth;
}
.primaryColor {
  color: #0ef0f0;
}
.primaryBgColor {
  background-color: #0ef0f0;
}
.primaryBorderColor {
  border-color: #0ef0f0;
}
.gradient-border {
  border: 1px solid;
  border-image: linear-gradient(45deg, #0ef0f0 15%, #0075f2 65%);
  border-image-slice: 1;
}
.gradient-text {
  background: linear-gradient(45deg, #0ef0f0 15%, #0075f2 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.gradient-button {
  background-image: linear-gradient(45deg, #0ef0f0 15%, #0075f2 65%);
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  /* border-radius: 12px; */
}
.gradient-button:hover {
  background-image: linear-gradient(45deg, #0ef0f0 0%, #0075f2 100%);
}
.glass-bg {
  background: rgba(255, 255, 255, 0.158); /* White with 20% opacity */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}
